<template>
  <section class="section">
    <div class="contatiner">
      <div class="box">
        <div class="media">
          <div class="media-content">
            <p>Order id: {{ order.id }}</p>
            <hr>
            <p>Order id: {{ order.total_amount | currency }}</p>
            <hr>
            <p>Status: {{ order.status }}</p>
            <hr>
            <p>
              Courses
              <br>
              <ul v-for="course in order.courses" :key="course.id">
                <li>{{ course.title }} | {{ course.price | currency }}</li>
              </ul>
            </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      'order': ['orders/getOrder']
    })
  },
  mounted () {
    this.$store.dispatch('orders/getOrderFromApi', this.$route.params.id)
  }
}
</script>
