<template>
  <section class="section">
    <div class="container">
      <nav class="breadcrumb is-small">
        <ul>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/profile/order">Order</a>
          </li>
        </ul>
      </nav>
      <div class="box">
        <div class="media">
          <div class="media-content">
            <div class="content">
              <h1 class="title">
                Your order
              </h1>
              <table class="table">
                <tr>
                  <th>Order Id</th>
                  <th>Total Amount</th>
                  <th>Courses</th>
                  <th>View more</th>
                </tr>
                <tbody>
                  <tr v-for="(row, index) in orders" :key="index">
                    <td>{{ row.id }}</td>
                    <td>{{ row.total_amount | currency }}</td>
                    <td>
                      <div v-if="row.status ==='success'">
                        <div v-for="course in row.courses" :key="course.id">
                          <p>
                            {{ course.title }} |
                            <nuxt-link :to="`/profile/course/${course.id}`" class="button is-small is-success">
                              View
                            </nuxt-link>
                          </p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <nuxt-link :to="`/profile/order/${row.id}`" class="button is-small is-success is-light">
                        Invoice
                      </nuxt-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(
      { 'orders': ['orders/getOrders'] }
    )
  },
  mounted () {
    this.$store.dispatch('orders/getOrdersFromApi')
  },
  head () {
    return {
      title: 'EKRUT Coach | Your Orders'
    }
  }
}
</script>
