<template>
  <div>
    <section class="hero is-medium is-link is-bold">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title">
            {{ course.title }}
          </h1>
          <h2 class="subtitle">
            {{ course.description }}
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="columns">
        <div class="column is-8">
          <div class="container">
            <div class="media-content">
              <h2 class="title">
                What you will get
              </h2>
              <div v-html="course.get" class="content" />
            </div>
          </div>
          <hr>
          <div class="container">
            <div class="media-content">
              <h2 class="title">
                What this course for
              </h2>
              <div v-html="course.for" class="content" />
            </div>
          </div>
        </div>
        <div class="column is-4">
          <h2 class="title">
            Course Details
          </h2>
          <div class="card has-background-light">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">
                    {{ course.price | currency }}
                  </p>
                  <!-- <p class="subtitle is-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus et mauris vitae volutpat. Etiam tincidunt et lacus non dignissim. Duis et ultricies nisi. Aenean viverra porta mi eu viverra. Phasellus nunc risus, faucibus sed semper sit amet.
                  </p> -->
                  <button @click="addToCart()" class="button is-danger is-fullwidth">
                    Add to cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(
      { 'course': ['courses/getCourse'] }
    )
  },
  mounted () {
    this.$store.dispatch('courses/getCourseById', this.$route.params.id)
  },
  methods: {
    addToCart () {
      this.$store.dispatch('orders/checkCourseInOrders', { course: this.$store.state.courses.course })
    }
  },
  head () {
    return {
      title: 'EKRUT Coach | ' + this.course.title
    }
  }
}
</script>
