<template>
  <div>
    <section class="hero is-medium is-link is-bold">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title">
            Discover our curated Course
          </h1>
        </div>
      </div>
    </section>
  </div>
</template>
