<template>
  <div>
    <section class="hero is-small is-link is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Congratulation! Your was successfully processed
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="box">
          <div class="media">
            <div class="media-content">
              <div class="content">
                <h2 class="title">
                  Order id: {{ order.id }}
                </h2>
              </div>
              <div class="content">
                <!-- {{ user.id }} -->
                <p>Total Amount: {{ order.total_amount | currency }}</p>
                <hr>
                <p>
                  Status:
                  <span v-if="order.status==='success'" class="tag is-success">{{ order.status }}</span>
                  <span v-if="order.status==='pending'" class="tag is-danger is-light">{{ order.status }}</span>
                </p>
                <hr>
                <p>Courses:</p>
                <table class="table">
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                  </tr>
                  <!-- MELAKUKAN LOOPING DARI COMPUTED PROPERTY agenda() -->
                  <tr v-for="(row, index) in order.courses" :key="index">
                    <td>{{ index+1 }}</td>
                    <td>{{ row.title }}</td>
                  </tr>
                </table>
                <!-- {{ order }} -->
                <p class="has-text-centered is-italic is-size-4">
                  Thank You
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  middleware: 'auth',
  data () {
    return {
      isLoading: true
    }
  },
  loading: {
    color: 'blue',
    height: '5px'
  },
  computed: {
    ...mapGetters(
      { 'order': ['orders/getOrder'] }
      // { 'user': ['auth/getUser'] }
    )
  },
  // asyncData ({ isDev, route, store, env, params }) {
  //   store.dispatch('orders/getOrderFromApi', params.id)// this route params
  // },
  mounted () {
    this.$store.dispatch('orders/getOrderFromApi', this.$route.params.id)// this route params
  },
  head () {
    return {
      title: 'EKRUT Coach | Order #'
    }
  }
}
</script>
