<template>
  <section class="section is-medium">
    <div class="container">
      <h1 class="has-text-centered title">
        How to get the courses
      </h1>
      <div class="columns is-centered has-text-centered">
        <div class="column">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
        <div class="column">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
        <div class="column">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
        <div class="column">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
      </div>
    </div>
  </section>
</template>
