<template>
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">
        Course curated for you
      </h1>
    </div>

    {{ courses }}
    <ul>
      <li v-for="course of courses" :key="course.id">
        <n-link :to="`/course/${course.id}`">
          {{ course.title }}
        </n-link>
      </li>
    </ul>
  </section>
</template>
<script>
// import { mapMutations } from 'vuex'
import axios from 'axios'
export default {
//   data () {
//     return {
//       courses: []
//     }
//   },
  //   async fetch () {
  //     this.courses = await this.$http.$get('http://18.141.141.203:1337/courses')
  //       .then(courses => courses)
  //   },
  async asyncData () {
    const { data } = await axios.get(`http://18.141.141.203:1337/courses`)
    return { courses: data }
  }

}
</script>
