<template>
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">
        What our students say
      </h1>
      <div class="columns is-centered has-text-centered">
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">
                    student 1
                  </p>
                  <p class="subtitle is-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus et mauris vitae volutpat. Etiam tincidunt et lacus non dignissim. Duis et ultricies nisi. Aenean viverra porta mi eu viverra. Phasellus nunc risus, faucibus sed semper sit amet.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">
                    student 1
                  </p>
                  <p class="subtitle is-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus et mauris vitae volutpat. Etiam tincidunt et lacus non dignissim. Duis et ultricies nisi. Aenean viverra porta mi eu viverra. Phasellus nunc risus, faucibus sed semper sit amet.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">
                    student 1
                  </p>
                  <p class="subtitle is-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus et mauris vitae volutpat. Etiam tincidunt et lacus non dignissim. Duis et ultricies nisi. Aenean viverra porta mi eu viverra. Phasellus nunc risus, faucibus sed semper sit amet.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
