<template>
  <section class="hero is-small is-danger is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Upgrade your skills with the best Courses
        </h1>
        <h2 class="subtitle">
          We curated the best courses exclusively for you with a special deal
        </h2>
      </div>
    </div>
  </section>
</template>
