<template>
  <section class="hero has-light is-small is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered has-text-centered">
          <div class="column">
            <h1 class="title">
              100,000+
            </h1>
            <p>Variety of courses</p>
          </div>
          <div class="column">
            <h1 class="title">
              70% discount
            </h1>
            <p>All Selected Courses</p>
          </div>
          <div class="column">
            <h1 class="title">
              Lifetime access
            </h1>
            <p>Learn on your schedule</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
