<template>
  <section class="hero is-medium is-link is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Learn the best online course
        </h1>
        <h2 class="subtitle">
          We curated the best courses exclusively for you with a special deal
        </h2>
      </div>
    </div>
  </section>
</template>
