<template>
  <nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p>EKRUT COACH</p>
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
      </a>
      <a
        @click="isOpen = !isOpen"
        v-bind:class="{'is-active': isOpen}"
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true" />
        <span aria-hidden="true" />
        <span aria-hidden="true" />
      </a>
    </div>

    <div id="navbarBasicExample" v-bind:class="{'is-active': isOpen}" class="navbar-menu">
      <div class="navbar-start">
        <!-- termporary remove -->
        <!-- <a class="navbar-item">
          Home
        </a> -->
        <nuxt-link class="navbar-item" to="/course">
          Course
        </nuxt-link>
        <!-- <a class="navbar-item">
          Documentation
        </a> -->

        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div> -->
      </div>

      <div class="navbar-end">
        <div v-if="user.length != 0">
          <div class="navbar-item">
            <MiniCart />
            <div class="buttons has-addons">
              <nuxt-link class="button is-light is-danger" to="/profile">
                {{ user.fullname }}
              </nuxt-link>
              <a @click="logout()" class="button is-danger">
                log out
              </a>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="navbar-item">
            <div class="buttons has-addons">
              <nuxt-link class="button is-danger is-light" to="/sign-up">
                Sign Up
              </nuxt-link>
              <nuxt-link class="button is-danger" to="/login">
                Login
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
import { mapGetters } from 'vuex'
import MiniCart from '~/components/common/MiniCart'
export default {
  components: {
    MiniCart
  },
  data () {
    return {
      isOpen: false
    }
  },
  computed: {
    ...mapGetters({ 'user': ['auth/getUser'] })
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
    }
  }

}
</script>
