<template>
  <!-- <div class="dropdown-menu">
    <nuxt-link class="button is-danger" to="/checkout">
      <span class="icon">
        <i class="fas fa-twitter" aria-hidden="true" />
      </span>
      <strong>  {{ cart.length }}</strong>
    </nuxt-link>
  </div> -->
  <div class="navbar-item has-dropdown is-hoverable is-danger">
    <a class="navbar-link">
      <div class="tags has-addons">
        <div class="tag">Cart</div>
        <div class="tag is-danger">
          {{ cart.length }}
        </div>
      </div>
      <!-- <p>Cart</p>
      <span v-if="cart.length >0 " class="tag is-danger is-light">
        {{ cart.length }}
      </span> -->
    </a>
    <div v-if="cart.length > 0">
      <div class="navbar-dropdown is-right is-boxed">
        <a class="navbar-item">
          <table class="table">
            <tbody>
              <!-- MELAKUKAN LOOPING DARI COMPUTED PROPERTY agenda() -->
              <tr v-for="(row, index) in cart" :key="index">
                <td>{{ index+1 }}</td>
                <td>{{ row.course.title }}</td>
                <td>{{ row.course.price | currency }}</td>
                <!-- <td>
                <button @click="RemoveCourse(row.course)" class="button is-small is-danger">
                  x
                </button>
              </td> -->
                <td />
              </tr>
              <tr>
                <td />
                <td><b>Total Price</b></td>
                <td>{{ getTotal | currency }}</td>
                <td />
              </tr>
            </tbody>
          </table>
        </a>
        <hr class="navbar-divider">
        <a class="navbar-item  is-pulled-right">
          <div class="field has-addons">
            <nuxt-link class="button is-danger is-light is-small" to="/">browse</nuxt-link>
            <nuxt-link class="button is-danger is-small is-pulled-right" to="/checkout">
              checkout
            </nuxt-link>
          </div>

        </a>
      </div>
    </div>
    <div v-else>
      <div class="navbar-dropdown">
        <a class="navbar-item">
          Empty Cart
        </a>
        <!-- <hr class="navbar-divider">
        <a class="navbar-item">
          <nuxt-link class="button is-primary is-small is-fullwidth" to="/">
            Browse course
          </nuxt-link>
        </a>
        <a class="navbar-item">
          <nuxt-link class="button is-primary is-small is-fullwidth" to="/checkout">
            Checkout
          </nuxt-link>
        </a> -->
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(
      {
        'cart': ['carts/getCart'],
        'getTotal': ['carts/getCartTotal']
      }
    )
  }
}
</script>
