<template>
  <div>
    <section class="hero is-small is-link is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Checkout
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="box">
          <div class="media">
            <div class="media-content">
              <div class="content">
                <table class="table">
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>remove</th>
                  </tr>
                  <tbody>
                    <!-- MELAKUKAN LOOPING DARI COMPUTED PROPERTY agenda() -->
                    <tr v-for="(row, index) in cart" :key="index">
                      <td>{{ index+1 }}</td>
                      <td>{{ row.course.title }}</td>
                      <td>{{ row.course.price | currency }}</td>
                      <td>
                        <button @click="RemoveCourse(row.course)" class="button is-small is-danger">
                          x
                        </button>
                      </td>
                      <td />
                    </tr>
                    <tr>
                      <td />
                      <td><b>Total Price</b></td>
                      <td>{{ getTotal | currency }}</td>
                      <td />
                    </tr>
                  </tbody>
                </table>

                <div v-if="cart.length != 0" class="buttons has-addons is-right">
                  <!-- <nuxt-link class="button is-primary" to="/checkout/detail">
                    <strong>Checkout</strong>
                  </nuxt-link> -->
                  <button id="pay-button" @click="payNow()" class="button is-primary">
                    Pay!
                  </button>
                  <!-- <script type="text/javascript">
                    var payButton = document.getElementById('pay-button');
                    payButton.addEventListener('click', function () {
                    snap.pay('72149a96-5b78-48d3-8240-663b8d9e43a1');
                    });
                  </script> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  middleware: 'auth',
  computed: {
    ...mapGetters(
      {
        'cart': ['carts/getCart'],
        'getTotal': ['carts/getCartTotal'],
        'cartCourse': ['carts/getCartCourse']
      }
    )
  },
  methods: {
    RemoveCourse (payload) {
      this.$store.dispatch('carts/removeCourseFromCart', { course: payload })
    },
    async payNow () {
      const obj = this.cart
      const courses = []
      obj.forEach((element) => {
        courses.push(element.course)
      })
      // console.log(courses)
      const createOrder = await this.$store.dispatch('orders/createOrders', { courses, total: this.getTotal })
      // 2
      const midpay = {
        transaction_details: {
          order_id: createOrder.id,
          gross_amount: createOrder.total_amount
        },
        callbacks: {
          finish: 'http://localhost:3000/checkout/success/' + createOrder.id
        }
      }
      const mToken = await this.$store.dispatch('orders/createMidtransToken', midpay)
      await snap.pay(mToken
        , {
          onSuccess: async (result) => {
            await this.$store.dispatch('orders/orderSuccess', result.order_id)
            await this.$router.replace({ path: '/checkout/success/' + result.order_id })
          }
        }
      )
    }
  },
  head () {
    return {
      title: 'EKRUT Coach | Checkout'
    }
  }
}
</script>
