<template>
  <section class="section">
    <div class="container">
      <!-- start breadcrumb -->
      <nav class="breadcrumb is-small">
        <ul>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/profile/course">Course</a>
          </li>
          <li>
            <a href="#">{{ course.title }}</a>
          </li>
        </ul>
      </nav>
      <!-- end breadcrumb -->
      <div class="box">
        <div class="media">
          <div class="media-content">
            <p class="title is-3">
              {{ course.title }}
            </p>
            <hr>
            <p class="subtitle">
              {{ course.description }}
            </p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Topic
            </p>
            <hr>
            <form-wizard>
              <tab-content v-for="topic in course.topics" :key="topic.id" :before-change="()=>topicSwitcher(topic.id)">
                <article class="message is-info">
                  <div class="message-header">
                    <p>
                      {{ topic.title }}
                    </p>
                  </div>
                  <div class="message-body">
                    <p>
                      {{ topic.description }}
                    </p>
                    <br>
                    <div v-if="topic.content" class="box">
                      <div v-if="topic.type === `document`">
                        <pdf :src="'http://adm.ekrut.co'+ topic.content.url" />
                      </div>
                      <div v-else-if="topic.type === `video`">
                        <vue-plyr>
                          <video :src="'http://adm.ekrut.co'+ topic.content.url" />
                        </vue-plyr>
                      </div>
                      <div v-else-if="topic.type === `audio`">
                        <vue-plyr>
                          <audio>
                            <source :src="'http://adm.ekrut.co'+ topic.content.url" type="audio/mp3">
                          </audio>
                        </vue-plyr>
                        <!-- {{ topic.content.url }} -->
                      </div>
                      <div v-else-if="topic.type === `link`">
                        <!-- {{ topic.content.url }} -->
                      </div>
                    </div>
                  </div>
                </article>
              </tab-content>
            </form-wizard>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({ 'course': ['courses/getCourse'] })
  },
  mounted () {
    this.$store.dispatch('orders/checkCourseValid', this.$route.params.id)
  },
  methods: {
    async topicSwitcher (tid) {
      const cid = this.$route.params.id
      const result = await this.$store.dispatch('progress/getApiProgress', { courseId: cid, topicId: tid })
      // console.log(result)
      if (typeof result === 'undefined') {
        console.log('disini aja ')
        await this.$store.dispatch('progress/postApiProgress', { courseId: cid, topicId: tid })
        // console.log(res)
        return true
      } else {
        return true
      }
    }
  }
}
</script>
