<template>
  <section class="section">
    <div class="container">
      <!-- start breadcrumb -->
      <nav class="breadcrumb is-small">
        <ul>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/profile/course">Course</a>
          </li>
        </ul>
      </nav>
      <!-- end breadcrumb -->
      <div class="box">
        <div class="media">
          <div class="media-content">
            <table class="table is-fullwidth">
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
              <tbody>
                <tr v-for="course in courses" :key="course.id">
                  <td>{{ course.orderCourse.title }} </td>
                  <td>{{ course.orderCourse.description }}</td>
                  <td>
                    <nuxt-link :to="`/profile/course/${course.orderCourse.id}`" class="button is-small is-success">
                      View
                    </nuxt-link>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(
      { 'courses': ['orders/getOrderCourses']
      }
    )
  }
}
</script>
