<template>
  <section class="section">
    <div class="container">
      <nav class="breadcrumb is-small">
        <ul>
          <li>
            <a href="/profile">Profile</a>
          </li>
        </ul>
      </nav>
      <div class="box notification is-info is-light">
        <h1 class="title is-5">
          Wellcome {{ user.fullname }}
        </h1>
      </div>

      <div class="columns is-multiline">
        <!-- box col -->
        <div class="column">
          <div class="box notification is-primary">
            <div class="heading">
              Order
            </div>
            <nuxt-link to="/profile/order">
              <div class="title">
                # {{ orders.length }}
              </div>
            </nuxt-link>
          </div>
        </div>
        <!-- box col -->
        <div class="column">
          <div class="box notification is-warning">
            <div class="heading">
              Your Courses
            </div>
            <div class="title">
              <nuxt-link to="/profile/course">
                <div class="title">
                  #{{ courses.length }}
                </div>
              </nuxt-link>
            </div>
          </div>
        </div>
        <!-- box col -->
        <div class="column">
          <div class="box notification is-danger">
            <div class="heading">
              TOTAL SPEND
            </div>
            <div class="title">
              {{ orderTotal | currency }}
            </div>
          </div>
        </div>
        <!-- box col -->
        <!-- <div class="column">
          <div class="box notification is-info">
            <div class="heading">
              TOTAL PURCHASE
            </div>
            <div class="title">
              #
            </div>
          </div>
        </div> -->
        <!-- end -->
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(
      {
        'orders': ['orders/getOrders'],
        'user': ['auth/getUser'],
        'courses': ['orders/getOrderCourses'],
        'orderTotal': ['orders/getOrderCoursesAmount']
      }
    )
  }

}
</script>
