<template>
  <div>
    <home6 />
    <section class="section has-background-link">
      <div class="container">
        <div class="box has-background-light">
          <h1 class="title">
            Our Best Courses
          </h1>
          <carousel :perPageCustom="[[320, 1], [1024, 3]]" class="columns is-mobile">
            <slide v-for="course in courses" :key="course.id" class="column is-rounded  ">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img :src="'http://adm.ekrut.co'+ course.media[0].url" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content ">
                  <div class="media">
                    <div class="media-content t-mod">
                      <p class="title ">
                        {{ course.title }}
                      </p>
                    </div>
                  </div>

                  <div class="content c-mod">
                    <p class="_1">
                      {{ course.description }}
                    </p>
                    <span class="tag is-warning is-light is-small is-pulled-left" style="text-decoration: line-through">
                      {{ 800000 | currency }}
                    </span>
                    <span class="tag is-success is-light is-medium is-pulled-right">
                      {{ course.price | currency }}
                    </span>
                  </div>
                  <div class="content">
                    <n-link :to="`/course/${course.id}`" class="button is-fullwidth is-danger has-text-weight-semibold">
                      BUY NOW
                    </n-link>
                  </div>
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </section>
    <home2 />
    <home1 />
    <home3 />
    <!-- <home4 /> -->
    <home5 />
  </div>
</template>
<style scoped>
.t-mod{
  min-height: 40px;
}
.t-mod > .title {
  font-size: 18px;
}
.c-mod{
  min-height: 75px;
}
.c-mod > ._1{
  font-size: 14px;
}

</style>
<script>
// import axios from 'axios'
import { mapGetters } from 'vuex'
import home1 from '~/components/home/section1'
import home2 from '~/components/home/section2'
import home3 from '~/components/home/section3'
// import home4 from '~/components/home/section4'
import home5 from '~/components/home/section5'
import home6 from '~/components/home/section6'
export default {
  components: {
    home1,
    home2,
    home3,
    // home4,
    home5,
    home6
  },
  computed: {
    ...mapGetters({ 'courses': 'courses/getCourses' })
  },
  mounted () {
    if (!this.courses.length) {
      this.$store.dispatch('courses/getAllCourses')
    }
  },
  head () {
    return {
      title: 'EKRUT Coach | Learn the best online course'
    }
  }
  // async fetch ({ store }) {
  //   await store.commit('courses/getCourses')
  // },
}
</script>
