<template>
  <section class="hero is-link is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-5-desktop is-3-widescreen">
            <form @submit.prevent="login()" class="box">
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control">
                  <input v-model="payload.email" type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control">
                  <input v-model="payload.password" type="password" placeholder="*******" class="input" required>
                </div>
              </div>
              <div class="field">
                <label for="" class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>
              <div class="field">
                <button type="submit" class="button is-primary is-fullwidth">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  head () {
    return {
      title: 'EKRUT Coach | Login'
    }
  },
  data () {
    return {
      payload: {
        'email': '',
        'password': ''
      }
    }
  },
  methods: {
    login () {
      this.$store.dispatch('auth/login', this.payload)
      // .then(() => )
      // .then(() => this.$store.dispatch('auth/getUserDetail'))
    }
  }
}
</script>
